.navbar{
  position: fixed;
  width:100%;
  z-index: 10000;
}

#Titletext{
  position: fixed;
  width:100%;
 margin-left: 1%;
}


a.navbar-brand{
  margin-left: 10px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bold;
}

.col-md-12{

  position: fixed;
}

.sg{

  margin-left: 200px;
  margin-right: 200px;
}

#shot-chart-container {
  /*transform: rotate(90deg); */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0%;
  bottom: 10%;
  height: 100vh;
}

#shot-chart {
   margin-top: 80px;
}

#canvas-container {
  height: 67vh;
  margin-bottom: 20%
  
}

#canvas {
  border: 1pt solid black;
}

.canvas-row {
  margin-top: 3rem;
  
}

body{
  background-color: rgb(202, 220, 238);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

.trigger {
  border: 1pt solid black;
}

.label {
  fill: white;
}

.title {
  height: 25vh;
}

#toptitle{

  height: 100px;

}

h4 {
  color: rgba(22, 2, 2, 0.61);
  margin-left: 1%;
}

h3 {
  font-family:'Helvetica';
}

p {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 1%;
  margin-right: 1%;
}

h5 {
  color: white;
  font-family:'Helvetica';


}


.bg::after{
  pointer-events: none;
  content: "";
  background-image: url('https://images.pexels.com/photos/2277978/pexels-photo-2277978.jpeg?cs=srgb&dl=pexels-king-siberia-2277978.jpg&fm=jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.1;

}