.navbar{
  position: fixed;
  width:100%;
  z-index: 10000;
}

a.navbar-brand{
  margin-left: 10px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bold;
}

.col-md-12{

  position: fixed;
}

.sg{

  margin-left: 200px;
  margin-right: 200px;
}

#shot-chart-container {
  /* transform: rotate(90deg); */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 1%;
  height: 67vh;
}

#shot-chart {
   margin-top: 80px;
}

#canvas-container {
  height: 67vh;
  margin-bottom: 20%
  
}

#canvas {
  border: 1pt solid black;
}

.canvas-row {
  margin-top: 3rem;
  
}

body{
  background-color: rgb(202, 220, 238);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

.trigger {
  border: 1pt solid black;
}

.label {
  fill: white;
}

.title {
  height: 25vh;
}

#toptitle{

  height: 100px;

}

h4 {
  color: white;
}