.navbar{
    position: fixed;
    width:100%;
    z-index: 10000;
}

a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}

select {
    margin-left: 700px;
    margin-top: 80px;
}


h3{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    font-weight: bold;
}
.container{
    background: rgb(248, 247, 247, 0.3); 
}

.img{
    padding:10px;
    border: none;
}

body{
    background-color: rgb(187, 216, 245);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
}

.axis text {
    font: 10px sans-serif;
    stroke: black;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;

  }
  
  .bar {
    fill: rgb(248, 250, 252);
    fill-opacity: .9;

     }
     .bar:hover {
        fill: rgb(238, 255, 0);
      }


     .bar2 {
        fill: rgba(0, 0, 0, 0.925);
        fill-opacity: .7;
     }
  
  .bar2:hover {
    fill: rgb(255, 0, 0);
  }
  
  label {
    position: absolute;
    top: 10px;
    right: 10px;
  }


p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
   padding:10px;
}



.col-md-12{
    padding-top: 20px;
    padding-bottom:40px;
}


.pic{
    color: rgb(0, 0, 0);
}

.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
}

.navbar-toggler{
    border: rgb(141, 7, 7)
}

.dropdown-menu {
    margin: 0;
    background-color: rgb(250, 247, 252);
    
}

.dropdown-item:hover {
   background-color: rgb(89, 170, 240);
  }


.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.content.bg-white {
    margin-top: 15px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


.page-footer{
    background-color: rgb(92, 90, 90);
    margin-top: 10px;
    bottom: 0;
    width: 100%;
}

.footer-copyright{
    color:white;
    border-top: 5px solid rgb(9, 47, 218)
}

.active {
    font-weight: bold;
    fill: #000;
    fill: #551aaf;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
.inactive {
font-weight: lighter;
fill: #551aaf;
transition: fill 0.3s ease-out;
text-anchor: middle;
}

.inactive:hover {
fill: #e75480;
cursor: pointer;
}


/* small screen adjustments*/
@media(max-width:800px){
    .navbar.bg-light{
        background-color: rgb(224, 6, 6);    
    }

    .navbar{
        padding:inherit;
    }
}

#goatbar2{
  transform: rotate(90deg)  
};

.axis2 line{
stroke: brown;
    
}
.axis2 path{
stroke: rgb(187, 216, 245);
}

.axis2 text{
fill: rgb(243, 8, 8);
transform: rotate(-90deg);
position:absolute;

}

 