#scatter {
  float: right;
}

#scatterLine {
  float: left;
}

/* .navbar{
  position: fixed;
  width:100%;
  z-index: 10000;
} */
/* 
a.navbar-brand{
  margin-left: 10px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bold;
} */

/* .dropdown-item:hover {
 background-color: rgb(89, 170, 240);
} */

.bg::after{
  pointer-events: none;
  content: "";
  background-image: url('https://images.pexels.com/photos/2277978/pexels-photo-2277978.jpeg?cs=srgb&dl=pexels-king-siberia-2277978.jpg&fm=jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
} 

body {
  background: rgb(202, 220, 238);
}
/* .content {
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
} */

/* .page-footer{
  background-color: rgb(92, 90, 90);
  margin-top: 10px;
  padding-bottom: 10px;
  bottom: 100;
  width: 100%;
}

.footer-copyright{
  color:white;
  border-top: 5px solid rgb(9, 47, 218)
} */

/* small screen adjustments*/
@media(max-width:800px){
  body{
      background-color: rgb(224, 6, 6);    
  }

  .navbar{
      padding:inherit;
  }
}