a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}

.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
}

.navbar-toggler{
    border: rgb(141, 7, 7)
}


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    width: 960px;
    height: 100%;
    padding: 10;
    margin: 15;
  }
  
  .axis text {
    font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .bar {
    fill: steelblue;
    fill-opacity: .9;
  }
  
  .bar:hover {
    fill: orange;
  }
  
  label {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .axis text {
    font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .bar {
    fill: steelblue;
    fill-opacity: .9;
  }
  
  .bar:hover {
    fill: orange;
  }
  
  label {
    position: absolute;
    top: 10px;
    right: 10px;
  }




/* small screen adjustments*/
@media(max-width:800px){
    .navbar.bg-light{
        background-color: rgb(224, 6, 6);    
    }

    .navbar{
        padding:inherit;
    }
}